[Desktop Entry]
Encoding=UTF-8
Version=0.1
Type=Application
Name=Set Wallpaper
Comment=
Exec=nitrogen --save --set-zoom-fill /usr/share/backgrounds/gnome/Icescape.jpg
&& rm -f ~/.config/autostart/setwallpaper.desktop
StartupNotify=false
Terminal=false
Hidden=false
